.input-container {
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
  }
  ion-card {
    box-shadow: none;
  }
  ion-item {
    --background:#f0f0f0;
    border-radius: 8px;
    margin-bottom: 16px;
    top: 15px;
}
ion-label{
    position: relative;
    font-size: 20px;
    color: black;
    font-weight: 400;
}
.footer-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cancel-btn, .end-btn {
    position: relative;
    width: 90%; 
    max-width: 150px;
}
.cancel-btn{
    left: 20px;
    --background: #aaa5a52f;
    --color:black;
}
.end-btn{
    right: 20px;
}

 
  